*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-image: url(images/login7.png);
    background-size: cover;
    overflow: hidden;
}

.right{
    float: right;
    background-color: rgb(25, 10, 58);
    padding-bottom: 55px;
    padding-top: 35px;
    padding-right:35px;
    padding-left: 25px;
    border-style:solid;
    border-color: rgb(236, 30, 150);
    border-width: 7px;
    border-radius: 25px;
    animation: page;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    visibility: visible;
    animation-fill-mode: forwards;

}
@keyframes page {
    0%{
        transform: translate(-150px,-500px);
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }

    100%{
        transform: translate(-86px,-265px);
        visibility: visible;
    }
}


.h11{
    font-size: 60px;
    color: rgb(77, 50, 128);
}

.p1{
    font-size: 20px;
    color: rgb(77, 50, 128);
}

.eme{
    height: 50px;
    width: 400px;
    font-size: 25px;
    background-color:rgb(156, 127, 214);
    border-style: hidden;
    border-radius: 10px;
}
::-webkit-input-placeholder{
    color: rgb(14, 9, 26);
}
.pass1{
    height: 50px;
    width: 400px;
    font-size: 25px;
    background-color:rgb(156, 127, 214);
    border-style: hidden;
    border-radius: 10px;
}
.forpass{
    text-decoration: none;
    font-size: 20px;
    color: rgb(108, 82, 151);
}
.butn{
    margin-left: 293px;
    height: 40px;
    width: 110px;
    font-size: 18px;
    background-color: rgb(77, 62, 107);
    border-style: hidden;
    border-radius: 10px;
}
.left{
    background: url(images/welcome7.gif);
    width: 850px;
    height: 400px;
    background-size: cover;
    border-style:groove;
    border-width: 10px;
    border-color: rgb(77, 50, 128);
    transform: translate(30px,130px);
    animation-name: thun;
    animation-duration: 15s;
    animation-iteration-count: 1;
}
@keyframes thun {
    0%{
        transform: translate(600px,-600px);
        background: url(images/Welcome1.jpg);
    }
    40%{
        transform: translate(330px,180px);
        background: url(images/thunder.gif);
        background-size: cover;
    }
    90%{
        transform: translate(330px,180px);
        background: url(images/thor.gif);
        background-size: cover;
    }

    
}