*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-image: url(login7.png);
    background-size:contain;
    overflow: hidden;
}

.right{
    float: right;
    transform: translate(-96px,-505px);
    background-color: rgb(25, 10, 58);
    padding-bottom: 55px;
    padding-top: 35px;
    padding-right:35px;
    padding-left: 25px;
    border-style:solid;
    border-color: rgb(236, 30, 150);
    border-width: 7px;
    border-radius: 25px;

}


.h11{
    font-size: 60px;
    color: rgb(77, 50, 128);
}

.p1{
    font-size: 20px;
    color: rgb(77, 50, 128);
}

.eme{
    height: 50px;
    width: 400px;
    font-size: 25px;
    background-color:rgb(156, 127, 214);
    border-style: hidden;
    border-radius: 10px;
}
::-webkit-input-placeholder{
    color: rgb(14, 9, 26);
}
.pass1{
    height: 50px;
    width: 400px;
    font-size: 25px;
    background-color:rgb(156, 127, 214);
    border-style: hidden;
    border-radius: 10px;
}
.pass2{
    height: 50px;
    width: 400px;
    font-size: 25px;
    background-color:rgb(156, 127, 214);
    border-style: hidden;
    border-radius: 10px;
}

.check{
    margin-top: 50px;
    background-color: seashell;
    color: seashell;
}
.butn{
    margin-left: 293px;
    height: 40px;
    width: 110px;
    font-size: 18px;
    background-color: rgb(77, 62, 107);
    border-style: hidden;
    border-radius: 10px;
}
.left{
    background:url(regback1.jpg);
    width: 850px;
    height: 600px;
    background-size: cover;
    border-style: double;
    border-width: 10px;
    border-color:rgb(77, 50, 128);
    transform: translate(30px,70px);
}
#pp1{
    transform: translate(50px,10px);
    height: 350px;
    width: 750px;
}
#pp2{
    height: 200px;
    transform: translate(0px,15px);
}
#pp3{
    width: 500px;
    transform: translate(-40px,-30px);
}
#pp4{
    transform: translate(650px,-190px);
    height: 200px;
}
